body{
  font-family: 'Londrina solid', cursive;
}

.navBar{
  background-color: #105C6E;
  color: white;
}

.red{
  background-color: red;
}

.green{
  background-color: #5FB34F;
}

.gray{
  background-color: #f0f0f0;
}