label{
    color:var(--bojaTamnoZelenaSlova);
    /* text-align:right; */
    font-size:22px;
    text-align:left;
    font-weight:bold;
}
h1{
    color:var(--bojaTamnoZelenaSlova);
    font-weight:bold;
}
hr {
    margin-top: 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* NASLOV FORME */
.centered-text-klasa{
    text-align:center;
}
.row-for-header{
    height:50px;
}
/* NASLOV FORME KRAJ */


/* INPUTI U FORMI */
input[type=email] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:15px;
  background-color:rgba(196, 196, 196, 0.23);
}
input[type=password] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:15px;
  background-color:rgba(196, 196, 196, 0.23);
}
input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:15px;
  background-color:rgba(196, 196, 196, 0.23);
}

/* DUGMAD GENERALNO*/
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
/* DUGMED GENERALNO KRAJ */



/* POPUP */

.popUp-klasa {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popUp-content-klasa {
    margin: 5% auto 15% auto; /* 5% od vrha, 15% od dna i centriran popUp */
    border: 1px solid #888;
    border-radius: 40px;
    width: 90%; /* 90% ekrana koji je manji 0d 700 pixela */
    background-color: white;
    padding: 5px;
    max-width: 700px; /* ŠIRINA POPUPa */
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.animate-popUp {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    .potvrdiBtn {
        width: 100%;
    }
}

.prikaziPopUp-btn{
    width: auto;
    background-color: var(--zelena);
    border-radius: 50px;
    width: 100px;
    font-weight: bold;
}
/* POPUP KRAJ */

/* DUGME ZA POTVRDU */
.potvrdiBtn {
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    background-color: var(--zelena);
    border-radius: 40px;
    color:white;
    margin:auto;
}
/* DUGME ZA POTVRDU KRAJ */

/* DUGME ZA ZATVARANJE */
.otkaziBtn
{
    padding: 0;
    margin: 0;
    width: 41px;
    height: 41px;
    background: url(/resources/X.svg) no-repeat scroll 0 0;
    background-size: 41px;
    
}
.row-for-close-button{
    padding-left:90%;
    padding-top:10px;
    height:50px;
}

