* {
  font-family: "Landrina shadow", cursive;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

.navbar {
  background: #105c6e;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
}

.navbar .logo img {
  width: 150px;
  height: 50px;
  margin-top: auto;
  padding-left: 0.7em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  padding: 0;
  height: inherit;
  margin-right: 0;
}

.navbar nav ul.primary-nav {
  margin: 0;
}

li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav {
  right: 0;
  top: 0;
}

nav ul.primary-nav {
  margin-top: 5em;
  display: block;
  padding: 0;
}

nav .kreiraj-nalog .dropbtn {
  background: none;
  width: 180px;
  color: white;
  font-size: 1.2em;
  height: 50px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: flex;
  font-weight: bold;
  cursor: pointer;
}

nav .kreiraj-nalog .dropdown-one {
  display: inline-block;
  margin: 0px;
  max-width: 180px;
  z-index: 999;
}

nav .kreiraj-nalog .dropdown-content {
  display: none;
  background-color: #105c6e;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav .kreiraj-nalog .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .kreiraj-nalog .dropdown-content a:hover {
  background-color: #007d8d;
}

nav .kreiraj-nalog .dropdown-one:hover .dropdown-content {
  display: block;
}

nav .kreiraj-nalog .dropdown-one:hover .dropbtn {
  background-color: #007d8d;
}

nav .lista-korisnika .dropbtn {
  background: none;
  width: 180px;
  color: white;
  font-size: 1.2em;
  height: 50px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  cursor: pointer;
}

nav .lista-korisnika .dropdown-two {
  position: relative;
  display: inline-block;
  max-width: 180px;
  z-index: 999;
}

nav .lista-korisnika .dropdown-content {
  display: none;
  background-color: #105c6e;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav .lista-korisnika .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .lista-korisnika .dropdown-content a:hover {
  background-color: #007d8d;
}

nav .lista-korisnika .dropdown-two:hover .dropdown-content {
  display: block;
}

nav .lista-korisnika .dropdown-two:hover .dropbtn {
  background-color: #007d8d;
}

nav .profil .dropbtn {
  background-color: #5FB34F;
  width: 180px;
  color: white;
  font-size: 1.2em;
  border: none;
  height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  cursor: pointer;
}

nav .profil .dropdown-three {
  padding-right: 0.7em;
  max-width: 180px;
  z-index: 999;
}

nav .profil .dropdown-content {
  display: none;
  background-color: #5FB34F;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav .profil .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .profil .dropdown-content a:hover {
  background-color: #3e8031;
}

nav .profil .dropdown-three:hover .dropdown-content {
  display: block;
}

nav .profil .dropdown-three:hover .dropbtn {
  background-color: #3e8031;
}

nav .profil .nav button {
  padding: 10px 20px;
}

.main-section {
  margin-top: 3.3em;
  width: 100%;
  /* =============================================================================== */
}

.main-section .sub-head {
  font-size: 30px;
  margin-top: 20px;
}

.main-section .person {
  width: 60px;
  height: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.main-section .container {
  margin-right: 1em;
  margin-left: 1em;
  border-bottom-style: solid;
}

.main-section .center_kreiraj_csp {
  /* pomjeranje dijela za unos */
  /* =================================== */
  /* poravnavanje dijela za unos */
  /* ============================================ */
  /* podesavanje dugmadi */
}

.main-section .center_kreiraj_csp .container_kreiraj_csp {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  background-color: #105c6e;
  width: 1000px;
  padding: 30px;
  border-radius: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp .text label {
  width: 650px;
  margin: 0 0 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp .text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #5BA7B9;
  font-size: 18px;
  color: #fff;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp form {
  color: #fff;
}

.main-section .center_kreiraj_csp .exit_bttn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
}

.main-section .center_kreiraj_csp .text {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding-bottom: 20px;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp form .data_ime {
  height: 45px;
  width: 100%;
  margin-top: 45px;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp form .data_prezime {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp form .data_email {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp form .data_sifra {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_csp .container_kreiraj_csp form .data_smjer {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_csp .data_ime label {
  margin-left: 260px;
  font-size: 20px;
}

.main-section .center_kreiraj_csp .data_prezime label {
  margin-left: 224px;
  font-size: 20px;
}

.main-section .center_kreiraj_csp .data_email label {
  margin-left: 248px;
  font-size: 20px;
}

.main-section .center_kreiraj_csp .data_sifra label {
  margin-left: 248px;
  font-size: 20px;
}

.main-section .center_kreiraj_csp .data_smjer label {
  margin-left: 240px;
  font-size: 20px;
}

.main-section .center_kreiraj_csp .data_ime input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_csp .data_prezime input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_csp .data_email input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_csp .data_sifra input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_csp .data_smjer select {
  padding: 5px;
  width: 410px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_csp form .button {
  margin: 30px 0;
  height: 45px;
  width: 100%;
}

.main-section .center_kreiraj_csp form .button button {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  background-color: #5FB34F;
  color: #fff;
  margin-left: 430px;
  font-weight: bolder;
}

.main-section .center_kreiraj_csp form .button .inter :hover {
  background-color: #3e8031;
}

.main-section .center_kreiraj_csp form .button .inter :active {
  background-color: #246317;
}

.main-section .center_kreiraj_csp .text .exit_bttn :hover {
  background-color: #0098b6;
}

.main-section .center_kreiraj_csp .text .exit_bttn :active {
  background-color: #108ca5;
}

.main-section .center_kreiraj_firmu {
  /* pomjeranje dijela za unos */
  /* =================================== */
  /* poravnavanje dijela za unos */
  /* ============================================ */
  /* podesavanje dugmadi */
  /* =================================== */
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  background-color: #105c6e;
  width: 1000px;
  padding: 30px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu .text {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding-bottom: 20px;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu .text label {
  width: 650px;
  margin: 0 0 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu .text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #5BA7B9;
  font-size: 18px;
  color: #fff;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form {
  color: #fff;
}

.main-section .center_kreiraj_firmu .exit_bttn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form .data_naziv_firme {
  height: 45px;
  width: 100%;
  margin-top: 45px;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form .data_email {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form .data_br_telefona {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form .data_adresa {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form .data_web_stranica {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_firmu .container_kreiraj_firmu form .data_sifra {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_firmu .data_naziv_firme label {
  margin-left: 195px;
  font-size: 20px;
}

.main-section .center_kreiraj_firmu .data_email label {
  margin-left: 255px;
  font-size: 20px;
}

.main-section .center_kreiraj_firmu .data_br_telefona label {
  margin-left: 180px;
  font-size: 20px;
}

.main-section .center_kreiraj_firmu .data_adresa label {
  margin-left: 238px;
  font-size: 20px;
}

.main-section .center_kreiraj_firmu .data_web_stranica label {
  margin-left: 180px;
  font-size: 20px;
}

.main-section .center_kreiraj_firmu .data_sifra label {
  margin-left: 255px;
  font-size: 20px;
}

.main-section .center_kreiraj_firmu .data_naziv_firme input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_firmu .data_email input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_firmu .data_br_telefona input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_firmu .data_adresa input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_firmu .data_web_stranica input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_firmu .data_sifra input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_firmu form .button {
  margin: 30px 0;
  height: 45px;
  width: 100%;
}

.main-section .center_kreiraj_firmu form .button button {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  background-color: #5FB34F;
  color: #fff;
  margin-left: 430px;
  font-weight: bolder;
}

.main-section .center_kreiraj_firmu form .button .inter :hover {
  background-color: #3e8031;
}

.main-section .center_kreiraj_firmu form .button .inter :active {
  background-color: #246317;
}

.main-section .center_kreiraj_firmu .text .exit_bttn :hover {
  background-color: #0098b6;
}

.main-section .center_kreiraj_firmu .text .exit_bttn :active {
  background-color: #108ca5;
}

.main-section .center_kreiraj_studenta {
  /* pomjeranje dijela za unos */
  /* =================================== */
  /* poravnavanje dijela za unos */
  /* ============================================ */
  /* podesavanje dugmadi */
  /* =================================== */
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  background-color: #105c6e;
  width: 1000px;
  padding: 30px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  z-index: 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta .text {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding-bottom: 20px;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta .text label {
  width: 650px;
  margin: 0 0 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta .text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #5BA7B9;
  font-size: 18px;
  color: #fff;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form {
  color: #fff;
}

.main-section .center_kreiraj_studenta .exit_bttn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_ime {
  height: 45px;
  width: 100%;
  margin-top: 50px;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_prezime {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_jmbg {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_br_indeksa {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_email {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_br_telefona {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_fakultet {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_smjer {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_ciklus {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_godina {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_pol {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .container_kreiraj_studenta form .data_datum_rodjenja {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center_kreiraj_studenta .data_ime label {
  margin-left: 280px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_prezime label {
  margin-left: 243px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_jmbg label {
  margin-left: 260px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_br_indeksa label {
  margin-left: 200px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_email label {
  margin-left: 267px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_br_telefona label {
  margin-left: 191px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_fakultet label {
  margin-left: 237px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_smjer label {
  margin-left: 258px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_ciklus label {
  margin-left: 262px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_godina label {
  margin-left: 254px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_pol label {
  margin-left: 290px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_datum_rodjenja label {
  margin-left: 250px;
  font-size: 20px;
}

.main-section .center_kreiraj_studenta .data_ime input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_prezime input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_jmbg input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_br_indeksa input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_email input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_br_telefona input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_fakultet input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_smjer select {
  padding: 5px;
  width: 410px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_ciklus select {
  padding: 5px;
  width: 410px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_godina input {
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_pol select {
  padding: 5px;
  width: 410px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta .data_datum_rodjenja select {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center_kreiraj_studenta form .button {
  margin: 30px 0;
  height: 45px;
  width: 100%;
}

.main-section .center_kreiraj_studenta form .button button {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  background-color: #5FB34F;
  color: #fff;
  margin-left: 435px;
  font-weight: bolder;
}

.main-section .center_kreiraj_studenta form .button .inter :hover {
  background-color: #3e8031;
}

.main-section .center_kreiraj_studenta form .button .inter :active {
  background-color: #246317;
}

.main-section .center_kreiraj_studenta .text .exit_bttn :hover {
  background-color: #0098b6;
}

.main-section .center_kreiraj_studenta .text .exit_bttn :active {
  background-color: #108ca5;
}

.main-section .container-info {
  background: #105c6e;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  height: 8em;
}

.main-section .container-info .center-side img {
  width: 150px;
  height: 50px;
}

.main-section .container-info .left-side {
  display: block;
  margin-left: 2em;
  margin-top: 2em;
}

.main-section .container-info .text_two {
  margin-top: 1em;
}

.main-section .container-info .center-side {
  margin-top: 2em;
}

.main-section .container-info .right-side {
  padding-top: 2.8em;
  padding-right: 1.5em;
  margin-left: 10px;
}

.main-section .container-info .mail {
  margin-top: 50px;
  color: white;
}

.main-section .container_spisak {
  display: none;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.main-section .naziv_spiska {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom-style: solid;
}

.main-section .naziv_spiska label {
  font-size: 30px;
  font-weight: bolder;
}

.main-section .naziv_spiska input {
  border: none;
  padding-left: 45px;
  font-size: 25px;
  border-radius: 50px;
  background-color: #F0F0F0;
  background-image: url("/Administrator/source/Search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.main-section .lista {
  margin-top: 20px;
}

.main-section .lista .polje {
  margin-top: 10px;
  height: 80px;
  background-color: #F0F0F0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .lista .polje div {
  padding-top: 20px;
  padding-right: 30px;
}

.main-section .lista .polje div img {
  width: 40px;
  height: 40px;
}

.main-section .lista .polje div img:hover {
  background-color: #cef5f1;
  cursor: pointer;
}

.main-section .lista label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
  font-size: 30px;
}

.main-section .container_profil {
  display: none;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}

.main-section .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom-style: solid;
}

.main-section .profil label {
  padding-left: 50px;
  font-size: 30px;
  font-weight: bolder;
}

.main-section .info_container {
  height: auto;
  margin: 20px 70px;
}

.main-section .licni_podaci {
  height: auto;
}

.main-section .licni_podaci label {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 40px;
}

.main-section .licni_podaci div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: inherit;
  margin-top: 10px;
  background-color: #5FB34F;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .licni_podaci div p {
  color: white;
}

.main-section .licni_podaci img {
  background-color: white;
  width: 125px;
  height: 125px;
  margin: 50px 50px;
  border-radius: 70px;
}

.main-section .licni_podaci .osnovno {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 200px;
  padding-right: 10%;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: thin;
  border-radius: 0;
  background: none;
}

.main-section .licni_podaci .osnovno div {
  margin-left: 25px;
  display: block;
}

.main-section .licni_podaci .osnovno div p {
  margin-bottom: 20px;
}

.main-section .licni_podaci .osnovno div h4 {
  margin-bottom: 20px;
  color: white;
  font-size: 17px;
}

.main-section .licni_podaci .dodatno {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 200px;
  margin-left: 16%;
  border-radius: 0;
  border: none;
  background: none;
}

.main-section .licni_podaci .dodatno div {
  display: block;
  margin-left: 40px;
  background: none;
}

.main-section .licni_podaci .dodatno div p {
  margin-bottom: 10px;
}

.main-section .licni_podaci .dodatno div h4 {
  margin-bottom: 10px;
  color: white;
  font-size: 17px;
}

.main-section .ukratko_o_meni {
  margin-top: 20px;
  height: auto;
}

.main-section .ukratko_o_meni label {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bolder;
}

.main-section .ukratko_o_meni div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 50px;
  margin-top: 10px;
}

.main-section .ukratko_o_meni div p {
  width: inherit;
  padding: 30px;
}

.main-section .center {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  /* justify-content: space-between; */
}

.main-section .center label {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bolder;
}

.main-section .center .left {
  /* background-color: lawngreen; */
  margin-right: 10px;
  width: 70%;
}

.main-section .center .left .obrazovanje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #5FB34F;
  border-radius: 50px;
}

.main-section .center .left .obrazovanje div {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-section .center .left .obrazovanje p {
  padding-top: 10px;
  color: white;
}

.main-section .center .left .obrazovanje h4 {
  padding-top: 10px;
  color: white;
  font-size: 17px;
}

.main-section .center .left .radno_iskustvo {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #105C6E;
  border-radius: 50px;
}

.main-section .center .left .radno_iskustvo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section .center .left .radno_iskustvo div div {
  display: block;
}

.main-section .center .left .radno_iskustvo h3 {
  color: white;
  padding: 40px;
}

.main-section .center .left .radno_iskustvo h4 {
  color: white;
  font-weight: lighter;
  padding-bottom: 30px;
}

.main-section .center .left .projekti {
  margin-top: 10px;
  background-color: #5FB34F;
  border-radius: 50px;
}

.main-section .center .left .projekti ol {
  padding: 40px;
}

.main-section .center .left .projekti li {
  display: block;
}

.main-section .center .left .projekti h3 {
  color: white;
  padding-bottom: 10px;
}

.main-section .center .left .projekti p {
  color: white;
  padding: 10px;
}

.main-section .center .right {
  /* background-color: lightcoral; */
  width: 30%;
}

.main-section .center .right .vjestine {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 50px;
}

.main-section .center .right .vjestine ul {
  padding: 20px;
}

.main-section .center .right .vjestine ul li {
  display: block;
  padding-left: 30px;
}

.main-section .center .right .strani_jezici {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 50px;
}

.main-section .center .right .strani_jezici ul {
  padding: 20px;
}

.main-section .center .right .strani_jezici ul li {
  display: block;
  padding-left: 30px;
}

.main-section .center .right .hobiji {
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 50px;
}

.main-section .center .right .hobiji ul {
  padding: 30px;
}

.main-section .center .right .hobiji ul li {
  display: block;
  padding-left: 20px;
}

.main-section .ocjene_sa_praksi {
  height: auto;
  margin-top: 20px;
}

.main-section .ocjene_sa_praksi label {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bolder;
}

.main-section .ocjene_sa_praksi p {
  color: white;
  padding-left: 30px;
}

.main-section .ocjene_sa_praksi h4 {
  color: white;
  padding-left: 20px;
  margin-bottom: 7px;
  font-size: 17px;
}

.main-section .ocjene_sa_praksi .info_sa_praksi {
  background-color: #105C6E;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

.main-section .ocjene_sa_praksi .info_sa_praksi .info_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
  margin-bottom: 10px;
}

.main-section .ocjene_sa_praksi .info_sa_praksi .info_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.main-section .ocjene_sa_praksi .info_sa_praksi .info_two p {
  padding-left: 40px;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=administrator.css.map */