* {
  font-family: "Landrina shadow", cursive;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

.navbar {
  background: #105c6e;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
}

.navbar .logo img {
  width: 150px;
  height: 50px;
  margin-top: auto;
  padding-left: 0.7em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  padding: 0;
  height: inherit;
  margin-right: 0;
}

.navbar nav ul.primary-nav {
  margin: 0;
}

li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav {
  right: 0;
  top: 0;
}

nav ul.primary-nav {
  margin-top: 5em;
  display: block;
  padding: 0;
}

nav .kreiraj-nalog .dropbtn {
  background: none;
  width: 180px;
  color: white;
  font-size: 1.2em;
  height: 50px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: flex;
  font-weight: bold;
  cursor: pointer;
}

nav .kreiraj-nalog .dropdown-one {
  display: inline-block;
  margin: 0px;
  max-width: 180px;
}

nav .kreiraj-nalog .dropdown-content {
  display: none;
  background-color: #105c6e;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav .kreiraj-nalog .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .kreiraj-nalog .dropdown-content a:hover {
  background-color: #007d8d;
}

nav .kreiraj-nalog .dropdown-one:hover .dropdown-content {
  display: block;
}

nav .kreiraj-nalog .dropdown-one:hover .dropbtn {
  background-color: #007d8d;
}

nav .lista-korisnika .dropbtn {
  background: none;
  width: 180px;
  color: white;
  font-size: 1.2em;
  height: 50px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  cursor: pointer;
}

nav .lista-korisnika .dropdown-two {
  position: relative;
  display: inline-block;
  max-width: 180px;
}

nav .lista-korisnika .dropdown-content {
  display: none;
  background-color: #105c6e;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav .lista-korisnika .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .lista-korisnika .dropdown-content a:hover {
  background-color: #007d8d;
}

nav .lista-korisnika .dropdown-two:hover .dropdown-content {
  display: block;
}

nav .lista-korisnika .dropdown-two:hover .dropbtn {
  background-color: #007d8d;
}

nav .profil .dropbtn {
  background-color: #5FB34F;
  width: 180px;
  color: white;
  font-size: 1.2em;
  border: none;
  height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  cursor: pointer;
}

nav .profil .dropdown-three {
  padding-right: 0.7em;
  max-width: 180px;
}

nav .profil .dropdown-content {
  display: none;
  background-color: #5FB34F;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .profil .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .profil .dropdown-content a:hover {
  background-color: #3e8031;
}

nav .profil .dropdown-three:hover .dropdown-content {
  display: block;
}

nav .profil .dropdown-three:hover .dropbtn {
  background-color: #3e8031;
}

nav .profil .nav button {
  padding: 10px 20px;
}

.main-section {
  margin-top: 3.3em;
  width: 100%;
  /* =================================== */
}

.main-section .sub-head {
  font-size: 30px;
  margin-top: 20px;
}

.main-section .person {
  width: 60px;
  height: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.main-section .container {
  margin-right: 1em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-style: solid;
}

.main-section .container-info {
  background: #105c6e;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  height: 8em;
}

.main-section .container-info .center-side img {
  width: 150px;
  height: 50px;
}

.main-section .container-info .left-side {
  display: block;
  margin-left: 2em;
  margin-top: 2em;
}

.main-section .container-info .text_two {
  margin-top: 1em;
}

.main-section .container-info .center-side {
  margin-top: 2em;
}

.main-section .container-info .right-side {
  padding-top: 2.8em;
  padding-right: 1.5em;
  margin-left: 10px;
}

.main-section .container-info .mail {
  margin-top: 50px;
  color: white;
}

.main-section .center {
  /* pomjeranje dijela za unos */
  /* =================================== */
  /* poravnavanje dijela za unos */
  /* ============================================ */
  /* podesavanje dugmadi */
}

.main-section .center .container {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  background-color: #105c6e;
  width: 1000px;
  padding: 30px;
  border-radius: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-section .center .container .text label {
  width: 650px;
  margin: 0 0 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}

.main-section .center .container .text button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #5BA7B9;
  font-size: 18px;
  color: #fff;
}

.main-section .center .container form {
  color: #fff;
}

.main-section .center .exit_bttn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  float: right;
}

.main-section .center .container form .data_ime {
  height: 45px;
  width: 100%;
  margin-top: 45px;
}

.main-section .center .container form .data_prezime {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center .container form .data_email {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center .container form .data_sifra {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center .container form .data_smjer {
  height: 45px;
  width: 100%;
  margin: 5px 0;
}

.main-section .center .data_ime label {
  margin-left: 246px;
  font-size: 20px;
}

.main-section .center .data_prezime label {
  margin-left: 209px;
  font-size: 20px;
}

.main-section .center .data_email label {
  margin-left: 234px;
  font-size: 20px;
}

.main-section .center .data_sifra label {
  margin-left: 234px;
  font-size: 20px;
}

.main-section .center .data_smjer label {
  margin-left: 225px;
  font-size: 20px;
}

.main-section .center .data_ime input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center .data_prezime input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center .data_email input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center .data_sifra input {
  padding: 5px;
  width: 400px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center .data_smjer select {
  padding: 5px;
  width: 410px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.main-section .center form .button {
  margin: 30px 0;
  height: 45px;
  width: 100%;
}

.main-section .center form .button button {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  background-color: #5FB34F;
  color: #fff;
  margin-left: 405px;
  font-weight: bolder;
}

.main-section .center form .button .inter :hover {
  background-color: #3e8031;
}

.main-section .center form .button .inter :active {
  background-color: #246317;
}

.main-section .center .text .exit_bttn :hover {
  background-color: #0098b6;
}

.main-section .center .text .exit_bttn :active {
  background-color: #108ca5;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=administrator.css.map */