*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Landrina shadow", cursive;
}

body{
    height: 100vh;
    width: 100%;
    background-color: green;
}

.container{
    position: absolute;
    top: 150px;
    left: 500px;
    background-color: #105c6e;
    width: 1000px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

/* .container .text label{
    width: 650px;
    margin: 0 0 0 0;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

.container .text button{
    width: fit-content;
    margin: 0;
    float: right;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #5BA7B9;
    font-size: 18px;
    color: #fff;
} */

.container .text label{
    width: 650px;
    margin: 0 0 0 0;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

.container .text button{
    width: fit-content;
    margin: 0;
    float: right;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #5BA7B9;
    font-size: 18px;
    color: #fff;
}

.container form{
    color: #fff;
}

.exit_bttn{
    width: fit-content;
    margin: 0;
    float: right;
}

/* pomjeranje dijela za unos */
.container form .data_ime{
    height: 45px;
    width: 100%;
    margin-top: 45px;
}
.container form .data_prezime{
    height: 45px;
    width: 100%;
    margin: 5px 0;
}
.container form .data_email{
    height: 45px;
    width: 100%;
    margin: 5px 0;
}
.container form .data_sifra{
    height: 45px;
    width: 100%;
    margin: 5px 0;
}
.container form .data_smjer{
    height: 45px;
    width: 100%;
    margin: 5px 0;
}
/* =================================== */

/* poravnavanje dijela za unos */
.data_ime label{
    margin-left: 221px;
    font-size: 20px;
}

.data_prezime label{
    margin-left: 184px;
    font-size: 20px;
}

.data_email label{
    margin-left: 209px;
    font-size: 20px;
}

.data_sifra label{
    margin-left: 209px;
    font-size: 20px;
}

.data_smjer label{
    margin-left: 200px;
    font-size: 20px;
}

.data_ime input{
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.data_prezime input{
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.data_email input{
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.data_sifra input{
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.data_smjer select{
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
/* ============================================ */

/* podesavanje dugmeta */
form .button{
    margin: 30px 0;
    height: 45px;
    width: 100%;
}

form .button button{
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    background-color: #5FB34F;
    color: #fff;
    margin-left: 380px;
    font-weight: bolder;
}

form .button .inter :hover{
    background-color: #3e8031;
}

.text .exit_bttn :hover{
    background-color: #0098b6;
}