body {
  background: #FFFFFF;
  font-family: "Landrina shadow", cursive;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow-x: hidden;
}

* {
  text-decoration: none;
  list-style: none;
  font-family: "Londrina shadow", cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--- NAVIGACIONI MENI ---*/
.navbar {
  height: 80px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0px;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 1;
  background: #105C6E;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar .container .logo img {
  width: 250px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.navbar .container .secondary-nav button {
  padding: 10px 20px;
  border-radius: 30px;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar nav .secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 18px;
}

.zahtijevi-za-prakse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.zahtijevi-za-prakse .dropbtn {
  background: none;
  width: auto;
  color: white;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  border: none;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.zahtijevi-za-prakse .dropdown:hover .dropbtn {
  background-color: #007d8d;
  border-radius: 30px;
}

.spisak-praktikanata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spisak-praktikanata .dropbtn {
  background: none;
  width: 220px;
  color: white;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  border: none;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.spisak-praktikanata .dropdown:hover .dropbtn {
  background-color: #007d8d;
  border-radius: 30px;
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profil .primary-nav {
  font-size: 18px;
}

.profil .dropbtn {
  background-color: #5FB34F;
  width: 180px;
  color: white;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  border: none;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.profil .dropdown {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin: 0px;
}

.profil .dropdown-content {
  display: none;
  background-color: #acff9c;
  max-width: 180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profil .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 30px;
}

.profil .dropdown-content a:hover {
  background-color: #ddd;
}

.profil .dropdown:hover .dropdown-content {
  display: block;
  left: 0px;
  left: auto;
  right: 0;
  border-radius: 30px;
}

.profil .dropdown:hover .dropbtn {
  background-color: #3e8031;
  border-radius: 30px;
}

.profil .nav button {
  padding: 10px 20px;
  border-radius: 30px;
}

ul {
  list-style-type: none;
}

/*------------------------------------------------------------------------------------------*/
/*# sourceMappingURL=komisija.css.map */