:root 
{
    --zelena: #5FB34F;
    --zelenaMouseOver: #327825;
    --bojaMenija: #105c6e;
    --plavaOtkaziButton : #5BA7B9;
    --plavaZaLinkoveFooter: #4AD5D4;
    --crvenaZaButtone: #F81A1A;
    --plavaZaHoverMenu: #007d8d;
}